body, html, .content{
    height: 100%;
}
.eba-visibilite-Element{
    height: 70%;
    min-height: 70%;
    max-height: 70%;
}
header{
    margin: 1rem;
    border-top: black 1px solid;
    border-bottom: black 3px solid;
    border-Left: black 1px solid;
    border-right: black 3px solid;
}
.font-1{
    font: 2em "centaur", sans-serif;
    font-weight: bold;
}
a{
    text-decoration: none;
}
a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.hklfMorphism{
    margin: 2rem;
    border-top: black 1px solid;
    border-bottom: black 3px solid;
    border-Left: black 1px solid;
    border-right: black 3px solid;
}
.elementTitle{
    height: 3rem;
    width: 7rem;
    border-bottom: black 3px solid;
    border-right: black 3px solid;
    padding-top: .5rem;
}
.elementTitleText{
    font-size: 2rem;
    text-align: center;
}
.memberHeadBox{
    width: 11rem;
    height: 19.25rem;
}
.memberHeadBoxBryan{
    background-image: url('../images/Bryan.png');
}
.memberHeadBoxJulien{
    background-image: url('../images/Julien.png');
}
.memberHeadBoxJerome{
    background-image: url('../images/Jerome.png');
}
.memberHeadBoxFred{
    background-image: url('../images/Fred.png');
}
.memberHeadBoxFrancois{
    background-image: url('../images/Francois.png');
}
.memberBlur{
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}
.upGlass{
    height: 1.5rem;
    width: 11rem;
}
.memberFace{
    height: 8rem;
    width: 9rem;
}
.sideGlass{
    height: 8rem;
    width: 1rem;
}
.bottomGlass{
    height: 9.75rem;
    width: 11rem;
}